@media (max-width: 991px) 
{
   .container{
       width: 80vw;
      
   }
   .promo{
       background: url(../img/bg/bg_t.png) center (center/cover) no-repeat;   
  }
  .promo__wrapper{
      display: flex;
      align-items: center;
  }
    .advantages__wrapper{
        flex-wrap: wrap;
    }
    .consultation{
        padding: 75px 0 83px 0;
        &__descr{
            font-size: 16px;
        }
    }
    .title_left{
        font-size: 28px;
    }
    .feed-form{
        width:230px;
        input{
            height: 38px;
            font-size: 12px;
            padding: 0 15px;
            margin-bottom: 11px;
            &:nth-child(3){
                margin-bottom: 15px;
            }
        }
    }
    .button_submit{
        height: 42px;
        font-size: 13px;
    }
    .reviews{
        &-item{
            margin-bottom: 50px;
            &__img{
                width: 150px;
                height: 150px;
                img{
                    height: 120px;
                    width: 120px;
                }

                
            }
            &__info{
                width: 400px;
                br{
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 767px)
{
 .header{
    display: block;
    &__official{
        display: block;
    }
    &__contacts{
        display: none;
    }
    &__logo{
        img{
            margin-bottom: 15px;
        }
        
    }
    &__official{
        display: none;
    }
        }
.promo{
    width:100vw;
    &__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 27px;
        }
        h2{
            font-size: 15px;
        }
    }
    &__icons{
        width:390px;
    }
    &__link{
        font-size: 13px;
    }
}
.button_main{
    width: 231px;
    height: 40px;
    font-size: 13px;
}
.title{
    font-size: 22px;
}
.advantages{
    padding:36px 0 50px 0 ;
    &__wrapper{
        flex-direction: column;
    }
    &__item{
        margin-right: 0;
    }
}
.consultation{
    padding: 55px 0 62px 0;
    &__descr{
        font-size: 11px;
        line-height: 20px;
        margin-top: 18px;
    }
}
.title_left{
    font-size: 20px;
    line-height: 27px;
}
.feed-form{
    margin-top: 100px;
    width:230px;
    input{
        height: 38px;
        font-size: 12px;
        padding: 0 15px;
        margin-bottom: 11px;
        &:nth-child(3){
            margin-bottom: 15px;
        }
    }
}
.button_submit{
    height: 42px;
    font-size: 13px;
 }
.carusel{
    &__inner{
       img{
           width: 300px;
       }
    }
  }
.slick-dots{
    max-width: 300px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
   }  
.catalog{
    &__tabs{
       padding-left: 0px;
        flex-direction: column;
    }
    &__tab{
        margin-bottom: 5px;
    }
        }
.reviews{
   &-item{
       display: flex;
       flex-direction: column;
       height: 30% ;
        &__descr{
            width: 70% ;
        }   
   }
}
}